.container {
  width: 1152px;
  margin: 0 auto;
}

.lives {
  float: right;
}

.lives li {
  width: 60px;
  height: 60px;
  background-image: url("../images/death.png");
  background-size: 100% auto;
  margin-left: 10px;
}

.lives li.life {
  background-image: url("../images/lives.png");
  background-size: 100% auto;
}

ul li {
  float: left;
  list-style-type: none;
}

.grid {
  clear: both;
  background-size: 64px;
  background-image: url("../images/floor.png");
}

.grid ul {
  padding-left: 0;
  clear: both;
  margin: 0;
  height: 64px;
}

.grid ul li {
  width: 64px;
  height: 64px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.grid ul li.wall {
  background-image: url("../images/wall.png");
}

.grid ul li.key {
  background-image: url("../images/key.png");
  background-size: 100% auto;
}
.grid ul li.hp.potion {
  background-image: url("../images/hppotion.png");
  background-size: 100% auto;
}

.grid ul li.strong.potion {
  background-image: url("../images/strongpotion.png");
  background-size: 100% auto;
}
.grid ul li.fast.potion {
  background-image: url("../images/fastpotion.png");
  background-size: 100% auto;
}
.grid ul li.coin {
  background-image: url("../images/coin.png");
  background-size: 100% auto;
}
.grid ul li.door {
  background: black;
}

.grid ul li.door.closed {
  background-image: url("../images/door.png");
  background-size: 100% auto;
}

.grid ul li.player {
  background-image: url("../images/smaller.png");
}

.grid ul li.flip {
  transform: scaleX(-1);
}

.grid ul li.rat {
  background-image: url("../images/rat.png");
}
.grid ul li.crab {
  background-image: url("../images/crab.png");
}
.grid ul li.snake {
  background-image: url("../images/snake.png");
}

.grid ul li.orion {
  background-image: url("../images/orionmove.gif");
}

.grid ul li.bat {
  background-image: url("../images/batmove.gif");
}

.health, .enemy-health {
  background-color: #E53935;
  border-radius: 5px;
  overflow: hidden;
}

.health .bar, .enemy-health .bar {
  background-color: #66BB6A;
}

.health {
  height: 30px;
  width: 200px;
}

.health .bar {
  transition: all 500ms linear;
  height: 100%;
}

.enemy-health {
  margin-top: -10px;
  height: 10px;
  width: 100%;
}

.enemy-health .bar {
  transition: all 500ms linear;
  height: 100%;
}
