.container {
  width: 1152px;
  margin: 0 auto;
}

.lives {
  float: right;
}

.lives li {
  width: 60px;
  height: 60px;
  background-image: url("../images/death.png");
  background-size: 100% auto;
  margin-left: 10px;
}

.lives li.life {
  background-image: url("../images/lives.png");
  background-size: 100% auto;
}

ul li {
  float: left;
  list-style-type: none;
}

.grid ul {
  padding-left: 0;
  clear: both;
}

.grid ul li {
  width: 64px;
  height: 64px;
  background-color: #eee;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.grid ul li.wall {
  box-sizing: border-box;
  background: teal;
  border: 1px solid black;
}

.grid ul li.key {
  background: yellow;
}

.grid ul li.door {
  background: green;
}

.grid ul li.door.closed {
  background: red;
}

.grid ul li.player {
  background-image: url("../images/smaller.png");
}

.grid ul li.flip {
  transform: scaleX(-1);
}

.grid ul li.rat {
  background-image: url("../images/rat.png");
}

.grid ul li.orion {
  background-image: url("../images/Orionbig.png");
}

.grid ul li.bat {
  background-image: url("../images/batone.png");
}

.health {
  height: 30px;
  width: 200px;
  background-color: red;
}

.health .bar {
  height: 100%;
  background-color: green;
}

.enemy-health {
  margin-top: -10px;
  height: 10px;
  width: 100%;
  background-color: red;
}

.enemy-health .bar {
  height: 100%;
  background-color: green;
}
